@import url('bootstrap/dist/css/bootstrap.min.css');

body{
    background:#F1F1F1;
    color:#565656;
}

a{
    text-decoration:none !important;
}

.error{
    background:#F9D6D6;
}

.orderMenuBar{
    width:100%;
    height:55px;
    background:#d9edf7;
    position:fixed;
    left:0px;
    top:0px;
}

.navbar-fixed-bottom{
    opacity:0.8;
}

.menuGroup{
    max-width:600px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.menuItem{
    float:left;
    padding:18px 20px 16px 20px;
    font-weight:bold;
    font-size:1.1em;
    cursor:pointer;
    color:#31708f;
}

.personInfo{
    float:right;
}

.menuItem:hover{
    border-bottom:2px solid #48A3D0;
    color:#48A3D0;
}

#logo-footer span {
    color: #999999;
    line-height: 50px;
    vertical-align: middle;
}

.red_btn, .normal_btn{
    line-height:20px;
    padding:3px 10px 3px 10px;
    float:right;
    cursor:pointer;
    color:white !important;
    border-radius:5px;
    text-decoration: none;
    font-size:0.9em;
    margin-left:10px;
}

.red_btn{
    background:#d9534f;
}

.red_btn:hover{
    background:#d43f3a;
}

.normal_btn{
    background:#5cb85c;
}

.normal_btn:hover{
    background:#4cae4c;
}

.alert-error{
    margin-top:10px;
    margin-bottom:10px;
    background:#FBD8D8;
    border: 1px solid rgb(255, 38, 54);
    color: rgb(255, 38, 54);
    padding:10px;
}