#login-wrapper {
    margin: auto;
    height: 400px;
    margin-top: 120px;
    max-width:600px;
}

#login-input {
    margin: auto;
    width: 90%;
}

#register {
    padding-left: 0px;
    padding-bottom: 8px;
}

.find-password {
    line-height: 2;
}

.login span{
    margin-left: 5px;
}

div.input-group{
    width: 100%;
}