#login-wrapper {
    margin: auto;
    margin-top: 60px;
    max-width: 600px;
    margin-bottom: 80px;
}

.find-password {
    line-height: 2;
}

.login span {
    margin-left: 5px;
}

.login {
    margin-top: 20px;
}

div.input-group {
    width: 100%;
}

.login-enter{
    transform:scale(1.2);
    transition:transform 0.2s cubic-bezier(.97,.84,.5,1.21);
}

.login-enter-active{
    transform:scale(1);
}