.orderList{
    max-width:600px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:75px;
}

.orderItem{
    border-radius:10px;
    margin-top:15px;
    background:white;
    height:184px;
    padding:10px 20px 10px 20px;
}

.orderItem_name{
    font-weight: bold;
    font-size:1.2em;
    border-bottom:1.5px solid #F1F1F1;
    padding-bottom:5px;
    overflow:hidden;
    text-align:center;
}

.orderItem_description{
    padding-top:5px;
    height:100px;
    overflow:hidden;
    border-bottom:1.5px solid #F1F1F1;
    padding-bottom:5px;
}

.orderItem_red_btn, .orderItem_btn{
    line-height:20px;
    padding:3px 10px 3px 10px;
    float:right;
    cursor:pointer;
    margin-right:15px;
    margin-top:10px;
    color:white !important;
    border-radius:5px;
    text-decoration: none;
    font-size:0.9em;
}

.orderItem_red_btn{
    background:#d9534f;
}

.orderItem_red_btn:hover{
    background:#d43f3a;
}

.orderItem_btn{
    background:#5cb85c;
}

.orderItem_btn:hover{
    background:#4cae4c;
}

.orderPaginator{
    height:50px;
    float:right;
    margin-top:15px;
    margin-bottom:80px;
}

.pager{
    padding:5px 9px 5px 9px;
    float:left;
    text-align: center;
    border:1px solid #48A3D0;
    background:white;
    margin-right:7px;
    cursor:pointer;
    color:#48A3D0;
    border-radius:5px;
}

.pager:hover, .pager.current{
    background:#48A3D0;
    color:white;
}