.orderDetail{
    width:600px;
    margin-top:75px;
    margin-left:auto;
    margin-right:auto;
    background:white;
    padding:10px 20px 10px 20px;
    border-radius:10px;
}

.orderTitle{
    font-size:1.5em;
    font-weight:bold;
    border-bottom:2px solid #F1F1F1;
    padding-bottom:10px;
    text-align:center;
}

.orderDesc{
    min-height:300px;
    margin-top:10px;
}

.errorMsg{
    font-size:1.5em;
    font-weight:bold;
    color:red;
    padding:20px;
    text-align:center;
}

